/*html {
	background: black;
}*/
.root {
	display: block;
	margin: none;
	padding: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}
.topnav {
	background: white;
	margin: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 45px;
	border: 1px;
	overflow: hidden;
    border: 1px solid #ccc;
}

.app {
	display: inline;
	width: 120px;
	height: 45px;
}

.logo, .biglogo {
	transform: rotate(90deg);
	transform-origin: center;
	font-family: 'Farisi';
	font-weight: bolder;
	margin: auto;
}

.logo {
	font-size: 38px;
	height: 45px;
	position: absolute;
	left: 32px;
}
.biglogo {
	font-size: 70px;
	text-align: center;
	height: 100px;
	width: 100%;
}
.logotext, .biglogotext {
	font-family: 'VAG Rounded';
}
.logotext {
	margin: auto;
	height: 45px;
	font-size: 30px;
	font-weight: bold;
	left: 16px;
	position: relative;
	top: 10px;
}
.biglogotext {
	text-align: center;
	font-size: 50px;
	top: 0;
	width: 100%;
	position: relative;
}
.icon {
	background: white;
	width: 120px;
	height: 45px;
	margin: auto;
	margin-left: 16px;
	position: absolute;
	border: none;
  cursor: pointer;
}

.icon:hover {
	background: #DFE7ED;
}

.logo, .logotext, .biglogo, .biglogotext {
	color: #B76E79;
	text-align: center;
}
.documentation {
	/*width: 100%;
	background: #DFE7ED;
	margin: none;

	color: gray;
	overflow:scroll;
	height: 3000px;*/
	overflow: auto;
	padding: 24px;
}

.syntax {
	overflow: auto;
	color: #B76E79;
}

.main {
	width: 100%;
	height: 500px;
	display: inline;
	background: #DFE7ED;
}


.editor {
	border: none;
	resize: none;
	background: #DFE7ED;
	width: 48%;
	height: 90%;
	position: absolute;
	padding: 1%;
	margin: 0px;
	font-weight: bolder;
}

.console {
	border-left: 1px solid lightgray;
	background: #DFE7ED;
	width: 48%;
	top: 0;
	padding: 1%;
	left: 50%;
	position: relative;
	height: 800px;
	font-weight: 500;
}

.editor, .console, .documentation {
		font-size: 15px;
		font-family: 'Andale Mono';
}

.topnavitem, .topnavitemdeletable {
	height: 45px;
	width: 45px;
	font-size: 28px;
	font-weight: 200;
	border: none;
	margin: auto;
	background: white;
	color: darkgray;
	left: 150px;
	text-align: center;
	position: relative;
	cursor: pointer;
}

.topnavoption {
	color: red;
}

.topnavitem:hover, .topnavitemdeletable:hover {
	color: #DFE7ED;
}

.topnavitemdeletable {
	background: #DFE7ED
}

.topnavitemdeletable:hover {
	color: #B76E79;
}

.inactivetab {
	display: none;
}
