/*html {
	background: black;
}*/
.root {
	display: block;
	margin: none;
	padding: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.topnav {
	background: white;
	margin: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 45px;
	border: 1px;
	overflow: hidden;
    border: 1px solid #ccc;
}

.icon {
	background: white;
	width: 120px;
	height: 45px;
	margin: auto;
	margin-left: 12px;
	position: absolute;
	text-align: center;
	border: none;
	outline: none;
  cursor: pointer;
}

.icon:hover {
	background: #DFE7ED;
}

.logo, .logotext, .biglogo, .biglogotext {
	color: #B76E79;
	text-align: center;
}
.documentation {
	width: 100%;
	display: block;
	background: #DFE7ED;
	position: relative;
	margin: none;
	padding: 12px;
}

.logo {
	/*text-align: center;*/
	height: 45px;
	transform: rotate(90deg);
	transform-origin: center;
	font-size: 30px;
	font-weight: bolder;
	font: 'Comic Sans MS';
	margin: auto;
	left: 8px;
	position: absolute;
}
.logotext {
	margin: auto;
	height: 45px;
	font-size: 30px;
	font: 'Verdana ';
	font-weight: bold;
	left: 16px;
	position: relative;
}

.biglogo {
	font-size: 70px;
	text-align: center;
	transform: rotate(90deg);
	transform-origin: center;
	margin: none;
}

.biglogotext {
	text-align: center;
	font-size: 50px;
}

/*@font-face {
        font-family:'Process';
            src: url('./VAG Rounded Bold.ttf');
        }*/

.main {
	width: 100%;
	height: 500px;
	display: inline;
	background: #DFE7ED;
}


.editor {
	border: none;
	resize: none;
	background: #DFE7ED;
	width: 48%;
	height: 90%;
	position: absolute;
	padding: 1%;
	margin: 0px;
}

.console {
	overflow:hidden;
	background: #DFE7ED;
	left:50%;
	width: 48%;
	height: 90%;
	top: 0;
	position: relative;
	padding: 1%;
}

.topnavitem, .topnavitemdeletable {
	height: 45px;
	width: 45px;
	font-size: 28px;
	font-weight: bold;
	border: none;
	margin: auto;
	background: white;
	color: darkgray;
	left: 150px;
	text-align: center;
	position: relative;
	cursor: pointer;
}

.topnavitem:hover {
	color: #DFE7ED;
	border-radius: 50px;
}

.topnavitemdeletable {
	color: darkgray;
}

.topnavitemdeletable:hover {
	color: #DFE7ED;
	border-radius: 50px;
	/*background-color: #B76E79;*/
}

.inactivetab {
	display: none;
}
